.navbar-header{
    padding:8px;
    display:flex;
    justify-content: space-between;
    background-color: rgba(27, 95, 0, 0.76);
    align-items: center;
  
}
.nav-icon{
    display:flex;
    align-items: center; 
}
.nav-icon img{
    height:55px;
    width:60px;
    margin-left: 50px;  
}

.nav-icon h2{
    padding:0;
    margin:0;
    margin-left:15px;
    color:white;
    font-weight: 600;
}

.navbar ul{
    padding:0;
    margin:0;
    margin-right: 50px;
}
.navbar a{
    margin: 0;
    font-weight: 550;
    text-decoration:none;
    padding:22px;
    margin-right: 20px; 
    color:rgb(255, 254, 254);
    font-size: 20px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
      
}

.navbar a:hover{
    background-color:rgb(95, 90, 90);
    padding:22px;  
}